spring:
  datasource:
    #driver-class-name: com.mysql.cj.jdbc.Driver
    #driver-class-name: org.postgresql.Driver
    #driver-class-name: oracle.jdbc.OracleDriver
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
    #     SqlServer local test (recommend)
    url: jdbc:sqlserver://localhost:1433;DatabaseName=cbbs
    username: sa
    password: 1244303915
    #     mysql local
#    url: jdbc:mysql://localhost:3306/bladex_boot?useSSL=false&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&transformedBitIsBoolean=true&serverTimezone=GMT%2B8&nullCatalogMeansCurrent=true&allowPublicKeyRetrieval=true
#    username: root
#    password: 1244303915

mybatis-plus:
  global-config:
    db-config:
      logic-delete-field: isDeleted  # 全局逻辑删除的实体字段名(since 3.3.0,配置后可以忽略配置字段的@TabelLogic)
      logic-delete-value: 1 # 逻辑已删除值(默认为 1)
      logic-not-delete-value: 0 # 逻辑未删除值(默认为 0)
  # 用来扫描 mapper 层文件 ，如果使用了 @Mapper 注解则可以忽略此配置
#  mapper-locations: classpath:org/eugeneforest/cbbs/**/mapper/xml/*.xml


knife4j:
  # 基础认证
  basic:
    enable: false
    username: eugene
    password: forest
  # Knife4j 增强模式
  enable: false
